<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite parallel="tests" name="Suite">
    <test name="Submit Order Test" thread-count="2">
        <classes>
            <class name="rabinaqueendom.Tests.StandAloneTest" />
         </classes>
    </test>
    <test name="Error validation" thread-count="2">
        <classes>
            <class name="rabinaqueendom.Tests.ErrorValidationTest" />
         </classes>
    </test>
    
    
</suite>